// -----------------------------------------------------------------
// * [Footer Styles]
// * 
// * @project Suave Wordpress Theme
// * @version 1.0.0
// * 
// * @author Dwi A. Hambali <dwi.asharialdy@gmail.com>
// * @author Pratama H. Salahudin <pratama@hasriyan.com>
// -----------------------------------------------------------------

footer {
    width: 20%;

    bottom: 30px;
    position: fixed;

    margin-bottom: 30px;

    font-size: @body-fz-xs;
    line-height: @line-height-narrow ;
    .watermark {
        width: 70%;

        margin: 0px auto;
    }
}