//- 
    =====================================================================
    * Master Layout 
    * 
    * @author Pratama H. Salahudin <pratama@hasriyan.com>
    =====================================================================
    
!!! 5
html(lang='en')
    
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        block title

        meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1')
        meta(name='description', content='DigBoots Business Bootstrap Theme')
        meta(name='author', content='')

        // FONTS
        link(href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic", rel="stylesheet")
        link(href="http://fonts.googleapis.com/css?family=Voltaire", rel="stylesheet")
        link(href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700&subset=latin,cyrillic", rel="stylesheet")
        

        // BOOTSTRAP STYLES
        link(href='assets/css/bootstrap.css', rel='stylesheet')
        
        // FONTAWESOME
        link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css', rel="stylesheet")

        // CUSTOM STYLES
        link(href='style.css', rel='stylesheet')

        // HEADER SCRIPTS
        //if lt IE 9
            script(src='assets/js/vendor/html5shiv.js')
            script(src='assets/js/vendor/respond.min.js')
    body
        block page
        
        // JQUERY
        script(src='assets/js/vendor/jquery-1.10.1.min.js')
        // BOOTSTRAP
        script(src='assets/js/vendor/bootstrap.js')
        // RETINA
        script(src='assets/js/vendor/retina.min.js')
        // SCRIPTS
        script(src='assets/js/script.js')

        // LIVERELOAD, REMOVED IT LATER 
        script(src="http://localhost:35729/livereload.js")
